.login-container {
  margin:                                     25vh auto 0 auto;
  width:                                      50%;

  legend {
    text-align:                               center;
  }
}
