.btn-hamburger {
  background-color:                    transparent;
  .icon-bar {
    display:                           block;
    width:                             $grid-gutter-width;
    height:                            4px;
    border-radius:                     1px;
    background-color:                  $white;
  }
  
  .icon-bar + .icon-bar {
    margin-top:                        4px;
  }
  
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,
  &:focus:active {
    .icon-bar {
      background-color:               darken($white, 10%);
    }
  }
}

.btn-login {
  @include button-variant($white, rgba(0,0,0,0), rgba(0,0,0,0));

  &:hover, &:active, &[aria-expanded="true"] {
    background-color:                 rgba(0,0,0,.1) !important;
  }
}
