body > div.ember-view {
  display:                    flex;
  height:                     100vh;
  flex-direction:             column;
  
  main {
    padding-top:              $navbar-height * 3 / 2;
    flex:                     1;
  }
}

.liquid-container {
  display:                    flex;
  flex-direction:             column;
  > .liquid-child {
    flex:                     1;
  }  
}

.main-nav {
  min-height:                 35px;
  button {
    margin:                   0;
    float:                    left;
  }
  
  .navbar-header > div.ember-view {
    float:                    left;
    @media(max-width: ($screen-xs-max + $screen-xs) / 2) {
      button {
        margin-left:          0;
        margin-right:         0;
        padding-right:        0;
      }
    }
  }
  
  .navbar-brand {
    margin-top:               0;
    color:                    $white;
    padding:                  $grid-gutter-width / 4 $grid-gutter-width / 2;
    @media(max-width: $screen-xxs) {
      display:                none;
    }

    &:hover {
      color:                  $white;
    }
  }
}

@media(max-width: $screen-md-max) {
  .navbar-right {
    float:                    right !important;
    margin-right:             - $grid-gutter-width / 2;
  }
  .navbar-header {
    float:                    left;
  }
}

.menu-dropdown {
  float:                      left;
}

.sideNav {
  top:                        $navbar-height + 2px;
}

main {
  display:                    flex;
  flex-direction:             column;

  > .liquid-container {
    flex:                     1;
    display:                  flex;
    flex-direction:           column;

    > .liquid-child {
      flex:                   1;
      display:                flex;
      flex-direction:         column;

    }
  }

  h2 {
    background-color:         $gray-darker;
    color:                    $white;
    text-align:               center;
    margin:                   $grid-gutter-width / 3 0 $grid-gutter-width 0;
    padding:                  $grid-gutter-width / 3 0;
  }

  .active-dashboard-item {
    @extend .material-card;
  }
}

.table-wrapper {
  flex:                       1;
  display:                    flex;
  flex-direction:             column;
  tbody {
    flex:                     1;
  }
}

.clickable {
  cursor:                     pointer;
}

@media (min-width: 768px) {
  .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
    position:                 relative;
    margin-left:              0;
    top:                      -6px;
    height:                   auto;
  }
}

div.spacer {
  clear:                      both;
  height:                     1em;
}

.form-horizontal .has-feedback label ~ .form-control-feedback {
  top:                        0;
}

.form-inline > .form-group {
  margin-left:                0;
  margin-right:               0;

  .help-block {
    margin:                   0;
  }
}

tr.inverse {
  background-color:           $gray-darker;
  color:                      $body-bg;
  th {
    text-align:               center;
  }
}

a.tomany_controle:hover {
  text-decoration:            none;
}
.ember-view {
  overflow-y:                 visible;
}