/** Bootstrap overrides **/
/*** Typography ***/
$font-size-base:                      16px;
/*** Colors ***/
$body-bg:                             #f5f5f5;
$brand-primary:                       #ff8316;
$white:                               #ffffff;
$black:                               #222222;
$gray-base:                           $black;
$gray-darker:                         lighten($gray-base, 13.5%);
$gray-dark:                           lighten($gray-base, 20%);
$gray:                                lighten($gray-base, 33.5%);
$gray-light:                          lighten($gray-base, 55%);
$gray-lighter:                        lighten($gray-base, 97.5%);
/**** Info ****/
$brand-info:                          #c999ff;
$state-info-text:                     darken($brand-info, 25);
$state-info-bg:                       #d6b3ff;
$state-info-border:                   rgba(0,0,0,0);
/**** Success ****/
$brand-success:                       #05a850;
$state-success-text:                  darken($brand-success, 10);
$state-success-bg:                    #baecd2;
$state-success-border:                rgba(0,0,0,0);
/**** Warning ****/
$brand-warning:                       #8a6d3b;
$state-warning-text:                  $brand-warning;
$state-warning-bg:                    #fcf8e3;
$state-warning-border:                rgba(0,0,0,0);
/**** Danger ****/
$brand-danger:                        #a94442;
$state-danger-text:                   $brand-danger;
$state-danger-bg:                     #f2dede;
$state-danger-border:                 rgba(0,0,0,0);
/*** Navbars ***/
$navbar-height:                       35px;
/**** Default ****/        
$navbar-default-bg:                   $brand-primary;
$navbar-default-color:                $white;
$navbar-default-link-color:           $navbar-default-color;
$navbar-default-link-hover-color:     $gray-dark;
/**** Inverse ****/        
$navbar-inverse-bg:                   $body-bg;
$navbar-inverse-color:                $brand-primary;
$navbar-inverse-link-color:           $navbar-inverse-color;
$navbar-inverse-link-hover-color:     darken($brand-primary, 15%);
$navmenu-inverse-color:               $gray-lighter;
$navmenu-inverse-link-color:          $navmenu-inverse-color;
/*** DropDowns ***/
$dropdown-bg:                         $black;
$dropdown-border:                     $dropdown-bg;
$dropdown-fallback-border:            $dropdown-bg;
$dropdown-link-color:                 $white;
/*** Borders ***/
$border-radius-base:                  0;
$border-radius-large:                 0;
$border-radius-small:                 0;
$input-border-focus:                  darken($brand-primary, 10);
