<button {{action 'new' on='click'}}>Add new</button>

<div class="table-responsive table-wrapper">
  <table class="table table-striped table-condensed {{meta_model.model}}_crud_list">
    <thead>
      <tr>
        <th width="60">&nbsp;</th>
        {{#each meta_model.list_display as |field|}}
          <th>
            {{#if field.label}}
              {{field.label}}
            {{else}}
              {{field.field}}
            {{/if}}
          </th>
        {{/each}}
      </tr>
    </thead>
    {{#vertical-collection
      tagName="tbody"
      content=data
      defaultHeight=22
      alwaysUseDefaultHeight=false
      as |record|
    }}
      <td>
        {{#if record.editing}}
          {{#if record.saving}}
            <i class="fa fa-spin fa-spinner" title="Saving..."></i>
          {{else}}
            <i class="clickable fa fa-remove text-warning" title="Cancel" {{action 'cancel' record on='click'}}></i>
            {{#if record.hasDirtyAttributes}}
              {{#if record.isValid}}
                <i class="clickable fa fa-save text-info" title="Save" {{action 'save' record on='click'}}></i>
              {{else}}
                <i class="fa fa-save text-danger" title="can't save invalid records"></i>
              {{/if}}
            {{/if}}
          {{/if}}
        {{else}}
          &nbsp;
        {{/if}}
      </td>
      {{#each meta_model.list_display as |field|}}
        <td>
          {{#if field.is_link}}
            <a href="{{href-to 'list.detail' record}}">
              {{read-property model=record property=field.field prevent_default=true}}
            </a>
          {{else}}
            {{#if field.widget}}
              {{component
                field.widget
                model=record
                property=field.field
                editable=field.editable
              }}
            {{else}}
              {{read-property model=record property=field.field}}
            {{/if}}
          {{/if}}
        </td>
      {{/each}}
    {{/vertical-collection}}
  </table>
</div>