& {
  list-style-type:                    disc;
  li {
    font-size:                        66%;
  }
  &.top {
    list-style-type:                  none;
    > li {
      @extend .col-md-3;
      @extend .col-sm-4;
      @extend .col-xs-2;
      display:                        inline;
      float:                          left;
      font-size:                      150%;
    }
  }

  .sub-icon {
    height:                           $font-size-base * 1.25;
    width:                            auto;
    preserveAspectRatio:              xMinYMin meet;
    fill:                             $brand-primary;
    stroke:                           $brand-primary;
    margin-right:                     $grid-gutter-width / 3;
  }

  a {
    color:                            $text-color;
    &:hover {
      color:                          $link-color;
      text-decoration:                none;
    }
  }
}
