{{#each item.children as |sub|}}
  <li class="sub-dashboard">
    <a href="{{href-to sub.route sub}}">
      {{#if sub.icon}}
        {{inline-svg sub.icon class="sub-icon"}}
      {{/if}}
      {{sub.title}}
    </a>
    {{#if sub.children}}
      {{active-dashboard item=sub}}
    {{/if}}
  </li>
{{/each}}
