<h2>Dashboard</h2>
{{#liquid-if activeItem use='toDown'}}
  <div class="active-dashboard-item">
   {{active-dashboard item=activeItem top=true}}
   <div class="clearfix"></div>
  </div>
{{/liquid-if}}
<div class="dashboard">
  {{#each roots as |section|}}
    {{dashboard-item item=section}}
  {{/each}}
</div>
