{{#if isCollection}}
  {{component
    collectionComponent
    field=field
    model=model
    class=field.class
    store=store
  }}
{{else}}
  {{#if field.widget}}
    {{component
      field.widget
      model=model
      label=field.label
      property=field.field
      readonly=field.readonly
      horiClass=field_horiClass
      inputClass=field_inputClass
      content=field.targetModel
      extra=field.extra
      targetModelName=field.model
    }}
  {{else}}
    {{#if field.readonly}}
      <label class="control-label">
        {{field.label}}
      </label>
      {{read-property model=model property=field.field}}
    {{else}}
      {{djember-input
        label=field.label
        property=field.field
        model=model
        horiClass=field_horiClass
        inputClass=field_inputClass
        extra=field.extra
      }}
    {{/if}}
  {{/if}}
{{/if}}