<nav class="navbar navbar-default navbar-fixed-top main-nav material-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="btn btn-hamburger" data-toggle="offcanvas" data-target=".sideNav" data-canvas="main" data-placement="left">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{href-to 'index'}}" class="navbar-brand">Intranet NG</a>
    </div>
    <div class="navbar-right">
      {{user-info right=true}}
    </div>
  </div>
</nav>
<main class="container">
  {{main-menu sections=model}}
  {{liquid-outlet}}
</main>

