& {
  ul {
    padding-left:                     $grid-gutter-width / 2;
  }
  li > a {
    color:                            $white;
    padding-left:                     $grid-gutter-width / 2;
    &.active {
      color:                          $brand-primary;
    }
    &:hover {
      text-decoration:                none;
      color:                          $brand-primary !important;
    }
  }
}
