<ul class="nav navmenu-nav">
  {{#each roots as |section|}}
    {{menu-tree item=section}}
  {{/each}}
  <li><a href="{{api_host}}/admin/" target="_blank">Django admin</a></li>
  <li><a href="{{api_host}}/{{api_namespace}}/" target="_blank">Django REST api</a></li>
</ul>
