{{#if hasLabel}}
  <label class="{{horiClass}}">{{label}}</label>
{{/if}}
<div class="{{bsInputClass}}">
  {{#if isInput}}
    {{input type=type value=value class="form-control"}}
  {{/if}}
  {{#if (eq type 'textarea')}}
    {{textarea class="form-control" rows=rows value=value}}
  {{/if}}
  {{#if (eq type 'checkbox')}}
    {{input type='checkbox' checked=value label_after=true}}
    {{#if label}}
      <label>{{label}}</label>
    {{/if}}
  {{/if}}
  {{#if (eq type 'select')}}
    <select onChange={{action (mut selectedIndex) value="target.value"}} class="form-control">
      <option value="-1" selected="{{eq selectedIndex -1}}">
        {{#if placeholder}}{{placeholder}}{{else}}---{{/if}}
      </option>
      {{#each content key="@index" as |item index|}}
        <option value={{index}} selected={{eq selectedIndex index}}>
          {{item.__str__}}
        </option>
      {{/each}}
    </select>
  {{/if}}
  {{#if (eq type 'autocomplete')}}
    {{djember-search
      minQueryLength=min_term_length
      debounceRate=debounce
      endpoint=endpoint
      linked=linked
      model=model
      resultKey='__str__'
      value=displayValue
      focus-out='resetInput'
      selectResult=(action "selectResult")
    }}
  {{/if}}
</div>
