<table class="table table-condensed table-striped">
  <thead>
    <tr class="inverse"><th colspan="{{field.fields.length}}">
      {{field.label}}
      <div class="pull-right">
        <a class="tomany_controle" {{action 'previous' on='click'}} role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hdden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="tomany_controle" {{action 'next' on 'click'}} role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hdden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <div class="pull-right">
        {{indexPlusOne}} / {{related.length}} &nbsp;&nbsp;
      </div>
      
    </th></tr>
  </thead>
</table>

<div id="{{field.slug}}">
  {{#if related.length}}
    {{#liquid-bind record use=direction as |currentModel|}}
        {{form-fieldset
          model=currentModel
          field=field
          store=store
        }}
    {{/liquid-bind}}
  {{/if}}
</div>