{{#if field.title}}
  <span class="FieldsetTitle">{{field.title}}</span>
{{/if}}
{{#each fields as |field|}}
  {{form-field
    field=field
    model=model
    horiClass=field.horiClass
    inputClass=field.horiClass
    class=innerClass
    store=store
  }}
{{/each}}
