& {
  .hypersearch{
    overflow:                 visible;
    position:                 relative;
    .hypersearch-results {
      position:               absolute;
      top:                    36px;
      background-color:       $input-bg;
      overflow-y:             auto;
      max-height:             200px;
      height:                 auto;
      left:                   0;
      right:                  0;
      padding-top:            10px;
      &.hidden {
        display:              none;
      }
    }
  }
  .load-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    &.hidden {
      display:                none;
    }
  }
}