{{#if hasBlock}}
  {{yield this}}
{{else}}
  <form class="hypersearch" {{action "commit" on="submit"}}>
    {{one-way-input
        class="hypersearch-input form-control"
        name="query"
        type="text"
        update=(action "search")
        value=value
        autocomplete="off"
    }}
    <div class="load-indicator {{loadIndicatorClass}}">
      <i class="fa fa-spin fa-spinner"></i>
    </div>
    <ul class="hypersearch-results {{resultClass}}">
      {{#each results as |result|}}
        <li class="hypersearch-result">
          <span {{action "selectResult" result on="click"}} tabindex="0">
            {{#if resultKey}}
              {{get result resultKey}}
            {{else}}
              {{result}}
            {{/if}}
          </span>
        </li>
      {{/each}}
    </ul>
  </form>
{{/if}}