<ul class="nav nav-tabs" role="tablist">
  {{#each field.tabs as |tab index|}}
    <li role="presentation" class="{{if (eq index 0) 'active'}}">
      <a href="#{{tab.slug}}" aria-cotrols="{{tab.slug}}" role="tab" data-toggle="tab">
        {{tab.tab_title}}
      </a>
    </li>
  {{/each}}
</ul>

<div class="spacer"></div>

<div class="tab-content">
  {{#each field.tabs as |tab index|}}
    <div role="tabpanel" class="tab-pane fade {{if (eq index 0) 'in active'}}" id="{{tab.slug}}">
      {{form-fieldset field=tab model=model class=tab.class store=store}}
    </div>
  {{/each}}
</div>

<div class="spacer"></div>
