<span class="input-group-addon toggle-password" {{action 'toggle' on='click'}}>
  <span class="fa fa-eye{{if visible '-slash'}}"></span>
</span>
{{input
  class="required form-control"
  id="id_password"
  name="password"
  placeholder="Password"
  type=type
  value=value
}}
{{yield}}
