<div class="login-container">
  <form id="login-form" class="form form-horizontal" role="form">
    <fieldset>
      <legend>
        LevIT Intranet - Log in
      </legend>
      <div class="row form-row">
        <div class="col-sm-6 username">
          <div class="input-group ">
            <span class="input-group-addon">
              <span class="fa fa-user"></span>
            </span>
            {{input
              class="required form-control"
              id="id_username"
              maxlength="254"
              name="username"
              placeholder="Username"
              type="text"
              value=username
            }}
          </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->
        <div class="col-sm-6 password">
          <div class="input-group ">
            {{#togglable-password value=password}}
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" {{action 'login'}}>Log in</button>
              </span>
            {{/togglable-password}}
          </div><!-- /input-group -->
        </div><!-- /.col-sm-6 -->
      </div>
      
    </fieldset>
  </form>
</div>
