<a href="{{href-to 'list.index' meta_model}}"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Back to list</a>
<h2>{{model.__str__}}</h2>
{{form-fieldset fields=meta_model.form_display model=model store=store}}
