& {
  .login-dropdown .dropdown-menu {
    top:                         $navbar-height + 5;
    padding:                     $grid-gutter-width / 2 $grid-gutter-width / 2;
    min-width:                   225px;
    a {
      cursor:                    pointer;
    }
  }
  margin-right:                  $grid-gutter-width;
}
