{{#if session.isAuthenticated}}
  {{#bootstrap-dropdown
    label=session.currentUser.full_name
    extraClasses="login-dropdown"
    btnClass="btn-login"
  }}
    <li>
      <a href="#">Profile</a>
      <a href="#">Change password</a>
      <a {{action 'invalidate'}}>Log out</a>
    </li>
  {{/bootstrap-dropdown}}
{{/if}}

