{{#if route_needs_model }}
  {{#link-to item.route item}}{{item.title}}{{/link-to}}
{{else}}
  {{#link-to item.route}}{{item.title}}{{/link-to}}
{{/if}}
{{#if hasChildren}}
  <ul>
    {{#each item.children as |child|}}
      {{menu-tree item=child}}
    {{/each}}
  </ul>
{{/if}}
