<div class="table-responsive {{inputClass}}">
  <table class="table table-condensed table-striped">
    <thead>
      {{#if field.label}}
        <tr class="inverse"><th colspan="{{field.fields.length}}">
          {{field.label}}
        </th></tr>
      {{/if}}
      <tr>
        {{#each field.fields as |subfield|}}
          <th>{{#if subfield.label}}
            {{subfield.label}}
          {{else}}
            {{subfield.field}}
          {{/if}}</th>
        {{/each}}
      </tr>
    </thead>
    <tbody>
      {{#each related as |record|}}
        <tr>
          {{#each field.fields as |subfield|}}
            <td>
              {{#if subfield.widget}}
                {{component
                  subfield.widget
                  model=record
                  property=subfield.field
                }}
              {{else}}
                {{read-property model=record property=subfield.field}}
              {{/if}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

