& {
  h3 {
    float:                      left;
    display:                    inline-block;
    text-align:                 center;
    color:                      $gray-dark;
    margin-top:                 $grid-gutter-width / 2;
    margin-bottom:              $grid-gutter-width / 2;
    font-size:                  150%;
    @extend .col-lg-2;
    @extend .col-md-3;
    @extend .col-sm-4;
    @extend .col-xs-6;

    .dashboard-item-icon {
      height:                   75px;
      width:                    auto;
      preserveAspectRatio:      xMinYMin meet;
      fill:                     mix($brand-primary, $gray-light);
    }

    &:hover, &.active {
      color:                    $gray-darker;

      .dashboard-item-icon {
        fill:                   $brand-primary;
      }
    }
  }
}
