{{#unless isDashboard}}
  <h3 class="{{if item.active 'active'}}" {{action 'toggle' on='click'}}>
    {{#if item.icon}}
      {{inline-svg item.icon class="dashboard-item-icon"}}<br/>
    {{/if}}
    {{item.title}}
  </h3>
{{/unless}}
