& {
  input {
    height: auto;
  }
  .radio, .checkbox {
    margin-top: 0;
    margin-bottom: 0;
  }
  label {
    color: rgba(0,0,0,0) !important;
  }

  @include checkbox-variant('.checkbox.has-error', $brand-danger);
  @include checkbox-variant('.checkbox.has-success', $brand-success);
}