{{#if editing}}
  <div class="checkbox {{if has_success 'has-success'}} {{if has_error 'has-error'}}">
    {{input type='checkbox' checked=value label_after=true}}
    <label></label>
  </div>
{{else}}
  {{#if value}}
    <i class="text-success fa fa-check" title="Yes" {{action 'click' on='click'}}></i>
  {{else}}
    <i class="text-danger fa fa-remove" title="No" {{action 'click' on='click'}}></i>
  {{/if}}
{{/if}}