<button class="btn {{btnClass}} dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  {{label}}&nbsp;
  <span class="caret"></span>
</button>
{{#bootstrap-dropdownmenu tagName=internalTag extraClasses=dropdownClasses}}
  {{yield}}
{{/bootstrap-dropdownmenu}}
